{% extends 'main/base.html' %}
{% load static %}


{% block extend_head %}

{% endblock %}

{% block extend_nav %} 

<ul class="sidenav">
  <li><a class="active" href="javascript:void(0)">Home</a></li>
  <li><a href="{% url 'main:results' %}">Results</a></li>
</ul>

{% endblock %}


{% block content %}

<h3 id="map">Smart Recipe API - Home</h3>

<div class="container">

	<form id="apiform" method="POST" action="/">
    {% csrf_token %}

    	<label for="username">Select category</label>
    	<select name="cat" id="cat">
    		<option selected value="">Select one</option>
		  	<option value="recipes">Recipes</option>
		  	<option value="ingredients">Ingredients</option>
		  	<option value="menuItems">Menu Items</option>
		  	<option value="products">Products</option>
		</select>
	   
	   <label for="username">Search</label>
	   <input type="search" id="query" name="query">

	   

	   <button type="submit">Submit</button>
	</form>


</div>


{% endblock %}

{% block extend_footer %}




{% endblock %}
